@media (max-width: 600px) {
  .product-card-huge {
    flex-direction: column;
    align-items: stretch;
  }

  .product-card-huge .product-img {
    width: 100%;
    height: auto;
    aspect-ratio: 1.5 / 1;
    margin-bottom: 1rem;
  }

  .product-card-huge .product-details-container {
    height: auto;
  }

  .landing-carousel-section {
    max-height: 815px;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 70px;
  }

  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: flex;
  }

  .footer-mobile {
    display: none;
  }

  .footer-desktop {
    display: flex;
  }

  .breadcrumb {
    position: relative;
    margin-top: 65px; /* height of desktop header */
    background: none;
    z-index: 1000;
    top: 0;
    left: 0;
    max-width: 1200px;
    margin: 0 auto 0 0;
    padding-left: 32px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1.05rem;
    color: #444;
    background: none;
    display: block;
  }

  .info-list {
    padding-left: 180px;
  }

  .info-main {
    font-size: 70px;
  }

  .info-detail {
    font-size: 40px;
  }

  .storefront-sort-btn {
    display: none;
  }

  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  .product-card .product-img {
    max-width: 100px;
    height: 100px;
    font-size: 1.1rem;
    margin: 0 auto;
  }

  .product-card .product-title {
    font-size: 17px;
    min-height: 38px;
    max-height: 38px;
  }

  .product-card .product-rating {
    font-size: 12px;
    min-height: 16px;
    max-height: 16px;
  }

  .product-card .review-count {
    font-size: 14px;
    min-height: 14px;
    max-height: 14px;
  }

  .product-card .product-prices,
  .product-card .old-price,
  .product-card .discounted-price {
    font-size: 1.2rem;
  }

  .product-mobile {
    display: none;
  }

  .product-desktop {
    display: block;
  }

  .product-desktop-header {
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 0.5rem;
  }

  .product-carousel-section {
    max-width: 740px;
  }

  .summer-ad-text {
    font-size: 3rem;
  }

  .landing-summer-ad {
    min-height: 500px;
  }

  .landing-newsletter-section {
    background-size: 100%;
    min-height: 600px;
  }

  .newsletter-content {
    padding: 9rem 0 0 10rem;
  }

  .address-container {
    max-width: 800px;
    box-shadow: none;
  }

  .address-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    margin-top: 2rem;
    padding: 0 2rem;
    max-width: 900px;
    margin: 2rem auto;
  }

  .address-map-wrapper {
    display: block;
  }
}

@media (min-width: 1040px) {
  .category-list {
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 357px) {
  .product-grid {
    justify-items: center;
  }
}
