html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-family: "Roboto", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 10px 0px;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30pt;
  font-weight: normal;
  margin: 10px 0px;
}

.site-footer {
  margin-top: auto;
}
