html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

p {
  font-family: "Roboto", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 10px 0px;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30pt;
  font-weight: normal;
  margin: 10px 0px;
}

label {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
}

.site-footer {
  margin-top: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* -------------------------------- General message container for all pop-up messages */
.message-container {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

.message-container.success {
  background: #e6f9e6;
  color: #197d19;
  border: 1px solid #197d19;
}

.message-container.error {
  background: #ffeaea;
  color: #d32f2f;
  border: 1px solid #d32f2f;
}
